body {
	font-family: Helvetica;
	margin: 0px 100px;
	background-image: url("https://wallpaperaccess.com/full/2794367.jpg");
	/* background-repeat: no-repeat; */
	background-attachment: fixed;
	background-position: top; /* center */
	background-size: 100% auto;


}

a {
	color: darkblue;
}

/* div menu CSS */

div#menu {
	overflow: hidden;
	background-color: darkgrey;
	position: relative;
}

div#menu #moreLinks {
	display: none; /* hide by default */
	/* display: block; /* show by default */
}

div#menu a {
	color: white;
	padding: 16px 20px;
	text-decoration: none;
	font-size: 1.25em;
	display: block;
}

div#menu a:hover {
	color: black;
	background-color: lightgrey;
}

div#menu a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

/* div content CSS */

div#content {
	padding: 25px;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	/* red green blue: 0 to 255; alpha: 0 to 1 (decimal) */
}

/* table css */

table, th, td {
	border: 5px solid slategrey;


}

table {
	border-collapse: collapse;
	background-color: rgba(0,0,0,0.5);
}

th, td, h1, h2 {
	text-align: center;
}


h1, h2 {
	color: black

}

th, td {
	color: white
}

h3, h4, h6 {
	color: white;
}

strong {
	color: yellow;
}


a.btn {
			background-color: goldenrod;
			color: whitesmoke;
			text-decoration: none;
			padding: 15px 25px;
			border: solid thick whitesmoke;
			border-radius: 15px;
			font-size: 1.5em;
			display: inline-block;
			text-align: right;
}
