.aaa {
	color: moccasin;
	background-color: #05AAF3;
	font-family: papyrus;

}

table {
	border-collapse: collapse;
}

td, th {
	border-style: solid;
	border-color: rgb(7, 5, 2);
}


body {
	font-family: sans-serif;
	color: lightgray;
	margin: 100px 25px;
	background-image: url("the-best-backgrpud-to-EVER--exist.jpg");
	background-repeat:repeat ;

}
















































































div {
	background-color: blueviolet;

}


