body {
    font-family: Helvetica;
    font-size: 20px;
    color: #596e79;
    margin: 25px 100px;
    background-color: #f0ece2;
    text-align: center;
}

a {
    color: #c7b198;
}

.ouioui{
    background-color: #c7b198;
    color: #596e79;
    font-size:20px;
    border-color:#c7b198;
    border-radius:10px;
    padding:10px;
}

#cookie:active {
    transform: scale(0.97);
}